.login-container * {
    -webkit-appearance: none;
}

.login-container .form-label{
    border-radius: 0;
}

.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
}

.login-page {
    margin-top: 1rem;;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page > * {
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .login-page {
        width: 80%;
    }
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form > * {
    margin-bottom: 1rem;
}

.file-input {
    display: flex;
    align-items: center;
}