.login-prompt {
	position: fixed;
	bottom: 0;
	width: 100vw;
	background-color: $sitecolor;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 4rem;
}

.login-prompt-text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.login-prompt-buttons {
	display: flex;
	width: 12rem;
	justify-content: space-between;
}

.lg-btn {
	border: 1px solid white;
	display: flex;
	width: 5rem;
	justify-content: center;
	align-items: center;
	text-decoration: none;

}

.log-in-button {
	background-color: $sitecolor;
	color: white;
}

.sign-up-btn {
	color: $sitecolor;
	background-color: white;
}




.log-in-button:hover {
	background-color: darken($sitecolor, 5%);
}

.sign-up-button:hover {
    background-color: darken(white, 5%);
}
