.profile-header {
    border-bottom: $siteborder;
}

.profile-home-link {
    display: flex;
}

.side-arrow {
    fill: $sitecolor;
    width: 1.5rem;
    margin: 1rem;
}

.profile-home-link-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.25rem;
}

.profile-home-link-text > *{
    text-decoration: none;
}

.profile-header-image {
    max-width: 600px;
    max-height: 200px;
}

.main-image {
    border: 3px solid white;
    position: relative;
    top: -4rem;
    left: 2rem;
    z-index: 1;
}

.editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: $siteborder;
}

.edit-form-text {
    padding: 1rem;
    box-sizing: border-box;
    // overflow-y: scroll;
    width: 100%;
}