.sidebar {
    flex: 1;
    padding-top: 0.5rem;
    box-sizing: border-box;
    padding-left: 1rem;
    margin-right: 1rem;
    width: 80%;
    max-width: 350px;
}

.side-box {
    background-color: rgb(245, 248, 250);
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 15px;
}

.side-box-title {
    border-bottom: $siteborder;
    padding-bottom: 0.75rem;
}