.tweet {
	width: 100%;
	border-bottom: $siteborder;
	box-sizing: border-box;
	position: relative;

	// overflow: hidden;
	// border: $testborder;

}

// .tweet * {
// 	border: $testborder;
// }

.tweet-link {
	position: absolute;
	width: 100%;
	height: 100%;
}


.tweet-inside {
	display: flex;
	width: 100%;
	transition: $lighttransition;
}

.tweet:hover {
	background-color: lighten($sitegrey, 50%);
}

.profile-image {
	object-fit: contain;
	width: 3rem;
	max-width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}

.small-profile-image {
	width: 2rem;
	max-width: 2rem;
	height: 2rem;
}

.tweet-main {
	width: 100%;
}

.tweet-top-data {
	margin-bottom: 0.25rem;
	width: 100%;
	display: flex;
	align-items: center;
}

.tweet-svg-holder {
	width: 1.75rem;
	height: 1.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: $lighttransition;
}

.reply-div > .tweet-svg-holder:hover {
	background-color: lighten($sitecolor, 35%);
}

.retweet-div > .tweet-svg-holder:hover {
	background-color: lighten(blue, 40%);
}

.like-div > .tweet-svg-holder:hover {
	background-color: lighten(red, 40%);
}

.copy-div > .tweet-svg-holder:hover {
	background-color: (lighten($sitecolor, 35%));
}

.tweet-icon {
	width: 1.25rem;
	fill: grey;
}

.tweeter-name {
	font-weight: bold;
	margin-right: 0.25rem;
	color: black;
}

.tweeter-at {
	color: grey;
	margin-right: 0.25rem;
}

.tweet-text {
	color: black;
	margin-bottom: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
	overflow-wrap: break-word;
	word-break: break-all;
	line-height: 1.3125;
	font-size: 15px;
}

.tweet-responses {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tweet-svg-div {
	display: flex;
	align-items: center;
	width: 2.5rem;
	justify-content: space-between;
}

// svg styling

.tweet-svg-div svg {
	transition: $lighttransition;
}

.reply-div svg:hover {
	fill: $sitecolor;
}
.retweet-div svg:hover {
	fill: blue;
}

.like-div svg:hover {
	fill: red;
}

.copy-div svg:hover {
	fill: $sitecolor;
}


// "active" responses

.liked {
	color: red;
	fill: red;
}

.active-retweet svg {
	color: blue;
	fill: blue;
}

.retweeted-by {
	padding-left: 1.25rem;
	font-weight: bold;
	font-size: $smallfont;
	color: rgb(101, 119, 134);
	padding-bottom: 0.5rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	column-gap: 1rem;
	transition: $lighttransition;
}

.reply-tweet::before {
	position: absolute;
	top: 0;
	left: 2.25rem;
	content: "";
	width: 1.5px;
	height: 50%;
	background-color: lighten($sitegrey, 30%);
	z-index: -1;
}

.thread-tweet::before {
	position: absolute;
	top: 2.25rem;
	left: 2.25rem;
	content: "";
	width: 1.5px;
	height: 100%;
	background-color: lighten($sitegrey, 30%);
	z-index: -1;
}

.big-tweet-responses {
	border-top: $siteborder;
	height: 3rem;
	justify-content: space-around;
}

.big-tweet-inside {
	flex-direction: column;
}

.big-tweet-text {
	font-size: $bigfont;
	padding-left: 0.75rem;
}

.big-tweet-data {
	display: flex;
	align-items: center;
	padding-left: 1rem;
	column-gap: 1.5rem;
	border-top: $siteborder;
	height: 3.5rem;
}

.hover-under {
	text-decoration: none;
}

.hover-under:hover {
	text-decoration: underline;
}
