.tweet {
	display: flex;
	width: 100%;
	border-bottom: $siteborder;
	box-sizing: border-box;
	padding: 0.75rem;
}

.profile-image {
	object-fit: contain;
	width: 3rem;
	max-width: 3rem;
	height: 3rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}

.active-retweet svg {
	fill: blue;
}

.tweet-main {
	width: 100%;
}

.tweet-top-data {
	margin-bottom: 0.5rem;
	width: 100%;
	display: flex;
	align-items: center;
}

.tweet-icon {
	width: 1.25rem;
	fill: grey;
}

.tweeter-name {
	font-weight: bold;
	margin-right: 0.25rem;
}

.tweeter-at {
	color: grey;
	margin-right: 0.25rem;
}



.tweet-text {
	margin-bottom: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
}

.tweet-responses {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tweet-svg-div {
	display: flex;
	align-items: center;
	width: 2rem;
	justify-content: space-between;
}

.liked {
	color: red;
	fill: red;
}